<section class="container">
  <h2>{{title}}</h2>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a routerLink="adduser" class="btn btn-primary active" role="button" routerLinkActive="active">Add user</a>
      </li>
      <li class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav>
</section>

<section>
  <router-outlet></router-outlet>
</section>
